*{
	font-family: "Jersey 20", sans-serif;
	box-sizing: border-box;

}


h1{
	color: darkred;
	font-size: 35px;
}


.header{
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 25px;
	padding-right: 25px;
	background-color: darkgray;

	display: flex;

}

.sitelogo {

	text-align: center;

	flex-grow: 4;

}

.butonlar{
	gap: 25px;
	display: flex;
	flex-direction: row-reverse;
	flex-grow: 8;

}

button{

	font-size: 25px;
}




.content {  
  display: flex;
  flex-wrap: wrap;
}

.adds {
  display: flex;
  gap:20px;
  flex-wrap: wrap;
}
.adds img{
  flex: 1 1 45%;
  max-width: 100%; 
  height: auto;

}

.sidebar {
  flex: 40%;
  background-color: #eff1f3;
  padding: 20px;
}

.main {
  flex: 60%;
  background-color: white;
  padding: 20px;
}


@media screen and (max-width: 700px) {
  .content{   
    flex-direction: column;
  }
}