
<!-- 

yazar foto şablonunu değiştir

-->

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anasayfa</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/anasayfa_style.css') }}">

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Instrument+Serif:ital@0;1&display=swap" rel="stylesheet">
</head>
<body>

    <header class="header">
        <div class="sitelogo"  onclick="location.href='/'">
            noktalı<span>virgül</span>;
        </div>

        <div class="butonlar">
            
            <div class="newbtn">
                <button style="color: var(--accent); font-weight: 600;">Anasayfa</button>
                <button onclick="location.href='/bloglar'">Bloglar</button>
                <button onclick="location.href='/hakkimizda'">Hakkımızda</button>
            </div>

            <button id="theme-toggle">
                <span id="theme-icon">🌙</span>
            </button>
        </div>
    </header>

    <div class="content">

        <main class="main">

            <!-- flask ile güncellenmiş en yeni tarihli içerik işi -->
            {% if bas_yazi %}
            <a href="{{ url_for('blog_detay', post_slug=bas_yazi.slug) }}">
                <h2>{{ bas_yazi.baslik }}</h2>
                <img src="{{ bas_yazi.kapak }}">
            </a>
            <p class="icerikaciklama">{{ bas_yazi.ozet }}</p>
            {% endif %}
            


            <div class="lastcontents">
                {% for yazi in diger_yazilar %}
                <div>
                    <a href="{{ url_for('blog_detay', post_slug=yazi.slug) }}">  
                    <img src="{{ yazi.kapak }}">
                    <p class="kucuk-baslık">{{ yazi.baslik }}</p>
                </a>

                <p class="icerikaciklama">{{ yazi.ozet }}</p>
                </div>
                {% endfor %}   
            </div>

        </main>

        <!-- flask uyumlu sidebar -->

        <aside class="sidebar">
            <h2>Popüler</h2>
                {% for yazi in populer_yazilar %}
                    <div class="pop-item">
                        <a href="{{ url_for('blog_detay', post_slug=yazi.slug) }}">
                            <img src="{{ yazi.kapak }}">
                            <p class="kucuk-baslık">{{ yazi.baslik }}</p>
                            <p class="icerikaciklama">{{ yazi.ozet }}</p>
                        </a>
                    </div>
                {% endfor %}
        </aside>
    </div>

    <footer class="footer">
        <p>© 2025 noktalivirgul </p>
        <p>İletişim için - contact@noktalivirgul.com </p> 
    </footer>

    <script src="{{ url_for('static', filename='js/anasayfa_script.js') }}">

    </script>
</body>
</html>