<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hakkımızda</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/hakkimizda_style.css') }}">
    
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Instrument+Serif:ital@0;1&display=swap" rel="stylesheet">

    <script>
        const SUN_ICON = "{{ url_for('static', filename='imgs/sun.svg') }}";
        const MOON_ICON = "{{ url_for('static', filename='imgs/moon.svg') }}";
    </script>

</head>
<body>

    <header class="header"> 
        <div class="sitelogo"  onclick="location.href='/'">
            noktalı<span>virgül</span>;
        </div>

        <div class="butonlar">

            <div class="newbtn">
                <a href="/"><button>Anasayfa</button></a>
                <a href="/bloglar"><button>Bloglar</button></a>
                <button style="color: var(--accent); font-weight: 600;">Hakkımızda</button>
            </div>
            
            <button id="theme-toggle">
                <img id="theme-icon" src="" alt="Tema İkonu" width="24" height="24">
            </button>
        </div>
    </header>

    <div class="about-banner">
        <h1>Hikayemiz & <br>Vizyonumuz</h1>
    </div>

    <div class="main">
        <div class="about tek">
            <div class="photo tek">
                <img src="{{ url_for('static', filename='imgs/yalcin.jpeg') }}" >
            </div>
            <div class="text tek">
                <h2>Yalçın Kılıç</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pulvinar lobortis dolor, eu pretium leo varius sit amet. Curabitur ut imperdiet nisl. Cras vestibulum auctor lorem at tincidunt. Morbi cursus hendrerit augue id fermentum. Quisque consequat, orci sodales cursus blandit, felis dui lobortis nunc, nec mattis ipsum augue faucibus odio. Fusce eu purus ut mauris dignissim sagittis ut tempor massa. Donec quis nunc ipsum. Maecenas quis ante iaculis libero sodales placerat viverra ac erat.

				Nulla pellentesque ante et elementum bibendum. Quisque interdum condimentum dolor ut maximus. Quisque ut risus nec augue iaculis egestas. Praesent sodales massa metus, quis sodales diam ullamcorper nec. Duis dignissim vel ex sit amet volutpat. Etiam mattis enim ex, ut pellentesque tellus lobortis eu. Nullam tempus commodo massa et congue. Nulla eu ante vitae arcu dignissim posuere. Nullam lacinia tellus non dui viverra maximus. Fusce vel sem dolor. Maecenas porta hendrerit diam, id facilisis risus rutrum a.</p>
            </div>
        </div>

        <div class="about cift">
            <div class="photo cift">
                <img src="{{ url_for('static', filename='imgs/onur.jpeg') }}">
            </div>
            <div class="text cift">
                <h2>Onur Bolat</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pulvinar lobortis dolor, eu pretium leo varius sit amet. Curabitur ut imperdiet nisl. Cras vestibulum auctor lorem at tincidunt. Morbi cursus hendrerit augue id fermentum. Quisque consequat, orci sodales cursus blandit, felis dui lobortis nunc, nec mattis ipsum augue faucibus odio. Fusce eu purus ut mauris dignissim sagittis ut tempor massa. Donec quis nunc ipsum. Maecenas quis ante iaculis libero sodales placerat viverra ac erat.

			Nulla pellentesque ante et elementum bibendum. Quisque interdum condimentum dolor ut maximus. Quisque ut risus nec augue iaculis egestas. Praesent sodales massa metus, quis sodales diam ullamcorper nec. Duis dignissim vel ex sit amet volutpat. Etiam mattis enim ex, ut pellentesque tellus lobortis eu. Nullam tempus commodo massa et congue. Nulla eu ante vitae arcu dignissim posuere. Nullam lacinia tellus non dui viverra maximus. Fusce vel sem dolor. Maecenas porta hendrerit diam, id facilisis risus rutrum a.</p>
            </div>
        </div>
    </div>

    <footer class="footer">
        <p>© 2025 noktalivirgul </p>
        <p>İletişim için - contact@noktalivirgul.com </p> 
    </footer>

    <script src="{{ url_for('static', filename='js/hakkimizda_script.js') }}">

    </script>

</body>
</html>