*{
	font-family: "Jersey 20", sans-serif;
	box-sizing: border-box;

}


h1{
	color: darkred;
	font-size: 35px;
}


.header{

	padding: 20px 25px;
    background-color: darkgray;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.sitelogo {

	text-align: center;

	flex-grow: 4;

}

.butonlar{

	display: flex;
    flex-wrap: wrap; 
    gap: 15px;
    justify-content: flex-end; 
    flex-grow: 2;


}

button{

	font-size: 25px;
}




.content {  
  display: flex;
  flex-wrap: wrap;
}

.adds {
  display: flex;
  gap:20px;
  flex-wrap: wrap;
}
.adds img{
  flex: 1 1 45%;
  max-width: 100%; 
  height: auto;

}

.sidebar {
  flex: 40%;
  background-color: #eff1f3;
  padding: 20px;
}

.main {
  flex: 60%;
  background-color: white;
  padding: 20px;

}

  .footer{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	background-color: darkgray;
}


@media screen and (max-width: 768px) {
  .content{   
    flex-direction: column;
  }

      .header {
        flex-direction: column; /* Logo üstte, butonlar altta */
        text-align: center;
        gap: 20px;
    }

    .butonlar {
        justify-content: center; /* Mobilde butonları ortala */
        width: 100%;
    }

    button {
        font-size: 20px; /* Mobilde daha okunabilir boyut */
        padding: 8px 12px;
    }
}